.justify {
  text-align: justify;
}
.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  display: flex;
  justify-content: space-around;
}
.image img {
  width: 64px;
  height: 64px;
}

/* responsiv main  */

.main-mobile {
  display: none;
}

@media screen and (max-width: 575px) {
  .main-desktop {
    display: none;
  }
  .main-mobile {
    display: flex;
    justify-content: space-around;
  }
  .main-mobile img {
    width: 64px;
    height: 64px;
  }
  .left-main {
    display: flex;
    flex-direction: column;
  }
}

/* footer */
.footer {
  display: flex;
  justify-content: center;
}
.footer .left {
  width: 50%;
}
.footer .right {
  width: 50%;
}

.icons {
  display: flex;
}
.icons img {
  width: 42px;
  height: 42px;
}
.icon1 {
  display: flex;
  margin-top: 20px;
  margin-right: 50px;
  margin-bottom: 30px;
}
.icon1 .img {
  margin-right: 5px;
}
.icon1 .desc span {
  font-weight: bold;
  font-size: 14px;
}
.icon1 .desc p {
  font-size: 12px;
}

@media screen and (max-width: 765px) {
  .footer .left {
    display: none;
  }
  .footer .right {
    width: 100%;
  }
  .footer .right h4 {
    text-align: center;
  }
  .footer .right button {
    display: none;
  }
  .test {
    background-color: blueviolet;
  }
}
