.justify {
  text-align: justify;
}
.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  display: flex;
  justify-content: space-around;
}
.image img {
  width: 64px;
  height: 64px;
}

/* responsiv main  */

.main-mobile {
  display: none;
}

@media screen and (max-width: 767px) {
  .main-desktop {
    display: none;
  }
  .main-mobile {
    display: flex;
    justify-content: space-around;
  }
  .main-mobile img {
    width: 64px;
    height: 64px;
  }
  .left-main {
    display: flex;
    flex-direction: column;
  }
}

/* footer */
.footer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.footer .left {
  width: 50%;
}
.footer .right {
  width: 50%;
  padding-left: 20px;
}

.icons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}
.icons img {
  width: 50px;
  height: 50px;
}
.icon1 {
  display: flex;

}
.icon1 .img {
  margin-right: 5px;
}
.icon1 .desc span {
  font-weight: bold;
  font-size: 12px;
}
.icon1 .desc p {
  font-size: 12px;
}

@media screen and (max-width: 767px) {
  .footer .left {
    display: none;
  }
  .footer .right {
    width: 100%;
  }
  .footer .right h4 {
    text-align: center;
  }
  .footer .right button {
    display: none;
  }

}
